* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(141, 141, 141);
    height: 30px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}