html{
    font-size: 62.5%;
    height: 100%;
}

.index{
    /* border: solid 1px;
    border-color: black; */
    width: fit-content;
    padding: 4px 0 0 10px;
    margin-left: 30px;
}

.index:before{
    content:'';
    width: 1px;
    height: 130px;
    background-color: #dbdbdb;
    position: absolute;
    top: 15px;
    left: 35px;
}

.unorderedlist{
    margin: 0;
    padding: 0 10px 0 0;

    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.ulelement{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

.ulelement:hover::before{
    content: "";
    border-radius: 50%;
    background: #dbdbdb;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -16px;
    top: 10px;
}


a{
    letter-spacing: .03rem;
    text-decoration: none;
    display: table-cell;
    overflow: visible;
    font-weight: 600;
    color: #444;
}

a:hover{
    color: #1976d2;
}

.ulelement#ins{
    padding-left: 20px;
}

.ulelement#first::after{
    content:'';
    width: 40%;
    height: 1px;
    margin: 7px 0 4px;
    background: #dbdbdb;
    display: block;
}

.ulelement.act, a.act{
    color: #1976d2;
    list-style-type: none;
}

li.ulelement.act::before{
    content: "";
    border-radius: 50%;
    background: #1976d2;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -16px;
    top: 10px;
}

li.ulelement{
    position: relative;
}

.menu{
    border: 1px solid;
    border-color: #1976d2;
    width: fit-content;
}

.orderedlist{
    list-style-type: lower-greek;
}