.map-layer {
    fill: #fff;
    stroke: rgb(90, 90, 90);
    
}

.background-map {
    fill: #eee;
    pointer-events: all;
}

.label-dep {
    font-weight: bolder;
}

.map-container {
    background-color: #eee;
    width: fit-content;
    border-radius: 10px;
}