/* Acá es donde se define el ancho fijo de la página */
/* Es importante notar que el ancho de la página 960 = 192 + 348 + 348 */
/* Para usar la regla anterior con borde, es necesario incluir los bordes en la medida */
body{
    width: 960px;
    margin: 0 auto;
    border: solid 1px red;
}

#menu, #contenido, #info{
    float: left;
    padding: 0;
    margin: 0;
    border: solid 1px;
    box-sizing: border-box;
}

#menu{
    width: 192px;
}

#contenido, #info{
    width: 384px;
}

#pie{
    clear: both;
    border: 1px solid;
    text-align: center;
}

#cabecera{
    clear: both;
    border: 1px solid;
    text-align: center;
}